@import url("../style_init.css");

.pos-relative {
    position: relative;
}

.banners img, .reservation img, .goods_and_board img {
    display: block;
    width: 100%;
}

/* banners */
.animated-smooth {
	transition: 0.5s ease-out;
}

.banners-wrapper {
	overflow: hidden;
    position: relative;
    width: 100vw;
    margin-bottom: 60px;
}

.banners-container {
	display: flex;
}

.banners-container li {
    width: 100vw;
}

.banners-indicator {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.banners-indicator li {
    cursor: pointer;
}

/* reservation */
.reservation-container {
    min-width: 1160px;
    margin-bottom: 120px;
}

.reservation-title {
    color: var(--sm-brown);
    display: flex;
    justify-content: center;
}

.title-absolute {
    position: absolute;
    top: 0;
    left: 57%;
}

.reservation-calandar {
    margin-top: 2%;
    width: 100%;
    position: relative;
}

.reservation-calandar>ul {
    width: 45%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.reservation-calandar>ul>li {
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 5px;
}

.reservation-calendar-wrapper {
    overflow: hidden;
    width: 100%;
    margin-bottom: 90px;
}

.calendar_btn_prev, .calendar_btn_next {
    position: absolute;
    top: 60%;
    cursor: pointer;
}

.calendar_btn_prev {
    left: -8%;
}

.calendar_btn_next {
    right: -8%;
}

.reservation-calendar-lineup {
    display: flex;
    align-items: center;
}

.calendar-lineup_poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    margin-right: 65px;
    cursor: pointer;
}

.calendar-lineup_poster>p {
    font-size: 1.2rem;
    color: var(--sm-brown);
    font-weight: 900;
}

.calendar-lineup_poster img {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.lineup_poster_overlay {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
}

.lineup_poster_overlay h3 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.lineup_poster_overlay p {
    font-size: 0.8rem;
}

/* goods & board */
.gb-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.gb-content {
    width: 45%;
}

.gb-title {
    display: flex;
    justify-content: center;
}

.gb-title>h2+div {
    width: 10%;
}

.gb-title img {
    width: 70%;
}

/* goods */
.goods-lineup {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.goods-lineup_unit {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    width: 30%;
    cursor: pointer;
}

.goods-lineup_unit>div:first-child {
    border: 2px solid var(--gray-darker);
    border-radius: 10px;
    margin-bottom: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goods-lineup_unit>div:first-child img {
    width: 60%;
}

.goods-lineup_unit p {
    color: var(--gray);
    font-size: 0.9rem;
    margin-bottom: 10px;
}

/* board */
.board-articles {
    width: 100%;
    margin-top: 2%;
    border: 0;
    border-collapse: collapse;
    white-space: nowrap;
}

.board-articles thead>tr {
    border-bottom: 2px solid black;
    color: var(--gray-light);
}

.board-articles th:first-child {
    text-align: left;
}

.board-articles th, 
.board-articles td {
    font-weight: 900;
    padding: 10px;
    vertical-align: middle;
}

.board-articles th:not(:first-child), 
.board-articles td:not(:first-child) {
    text-align: center;
}

.board-articles td:not(:first-child) {
    font-weight: 500;
}