@import url("../style_init.css");

.banners_main-container input[type="button"] {
    display: inline-block;
    width: 70%;
    font-size: 0.8rem;
    line-height: 0.8rem;
    padding: 5px;
    margin-top: 10px;
}

.number-order {
    position: absolute;
    width: 25px;
    height: 25px;
    top: -12px;
    right: -10%;
    border-radius: 50%;
    background-color: var(--sm-yellow);
    color: var(--sm-brown);
}

.number-order>span {
    font-weight: 900;
    line-height: 25px;
}

.banners_update img {
    display: block;
    width: 100%;
}

.banners_update {
    width: 100%;
    padding: 2%;
    padding-top: 0;
}

.banners_update h3 {
    margin: 15px 1%;
}

.banners-wrapper, .banners_main-container {
    border: 1px solid var(--gray-light);
    border-radius: 15px;
    width: 100%;
    height: 180px;
}

.banners-wrapper {
    overflow-x: scroll;
    margin-bottom: 35px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.banners_main-container {
    padding: 0 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.banners_main-container>li {
    position: relative;
    width: 122px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.banners_main-container>li:not(:last-child) {
    margin-right: 30px;
}

.banners-btn {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.banners-btn>div {
    margin: 0 20px;
}