form[name="insertEventForm"] {
    margin: 4% auto;
    padding: 5% 8%;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 15px;
}

input {
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 5px;
    border: 1px solid var(--gray);
    border-radius: 15px;
    font-size: 1rem;
}

input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    margin: 2% 0 0 5%;
    width: 19px;
    height: 19px;
    background-color: var(--sm-brown);
    cursor: pointer;
}

input[type="radio"]:checked {
    border: 5px solid var(--sm-brown);
    background-color: white;
}

input[type="checkbox"] {
    appearance: none;
    border-radius: 5px;
    display: inline-block;
    width: 19px;
    height: 19px;
    background-color: var(--gray-light);
    cursor: pointer;
}

input[type="time"]:disabled {
    background-color: var(--gray-light);
}

input[type="file"] {
    border-style: none;
    padding: 0;
    border-radius: 0px;
    margin-bottom: 10px;
}

.position-relative {
    position: relative;
}

.w-60p {
    width: 60%;
}

.w-90p {
    width: 90%;
}

.link_active {
    color: black;
}

.link_active li:first-of-type {
    color: #959595;
}

#insertEvent {
    min-height: 1000px;
    margin: 0 auto;
    padding: 0 3%;
    display: flex;
    width: 1280px;
}

#insertEvent img {
    display: block;
    width: 100%;
}

.insertEvent-sidebar {
    background-color: #fff;
    padding: 20px;
    margin-top: 60px;
}

.insertEvent-sidebar li {
    padding: 5px;
    font-weight: 900;
    cursor: pointer;
}

.insertEvent-sidebar a{
    text-decoration: none;
    color: inherit;
    font-weight: 900;
}

.insertEvent-sidebar_big {
    list-style: none;
    width: 120px;
    margin: 0px 10px;
    color: #959595;
}

.insertEvent-sidebar_small {
    display: block;
    width: 100%;
    padding: 5px;
    list-style-type: disc;
    margin-bottom: 5px;
    font-size: 13px;
    position: relative;
    margin-left: 20px;
}

.insertEvent-content {
    width: 1160px;
    margin-top: 20px;
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
}

.insertEvent-title {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.insertEvent-title p {
    font-weight: bold;
    font-size: 36px;
    color: var(--sm-brown);
    margin: 0 9px;
}

.insertEvent-title p:first-of-type {
    margin-left: 0px;
}

.insertEvent-title img{
    height: 30px;
}

.insertEvent-content hr {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    width: 100%;
}

.insert-box {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 7%;
}

.insert-box-left {
    width: 130px;
}

.insert-box-left p {
    font-size: 1.1rem;
}

.insert-box-right {
    width: 100%;
}

fieldset.insert-box-right {
    display: flex;
    border-style: none;
}

fieldset.insert-box-right>label {
    display: flex;
    align-items: center;
    width: 15%;
    margin-right: 2%;
}

fieldset.insert-box-right>label>* {
    display: inline-block;
}

.insert-combo {
    position: relative;
    display: flex;
}

.event-info {
    position: absolute;
    top: -30px;
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--jh-red);
}

.input-fx-center {
    display: flex;
    align-items: center;
}

.event-period2, .event-time {
    align-items: flex-start;
}

.event-time .insert-box-left {
    margin-top: 6px;
}

.event-time fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3px;
}

.event-time_table {
    display: flex;
    margin-bottom: 20px;
}

.event-time_day {
    display: flex;
    align-items: flex-start;
    margin-top: 6px;
}

.event-time_day>span {
    line-height: 19px;
    letter-spacing: 3px;
}

.event-time_row {
    width: 45%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.event-time_row>input {
    display: inline-block;
    margin-bottom: 10px;
}

.images-main_poster {
    align-items: flex-start;
}

.images-main_poster .insert-box-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box-right_preview {
    width: 125px;
    height: 175px;
}

.event-banner {
    align-items: flex-start;
}

.event-banner p {
    line-height: 19px;
    margin-right: 5px;
}

.event-insert {
    margin: 0 auto 3% auto;
    margin-bottom: 3%;
    width: 215px;
    justify-content: space-between;
}

.btn-preview {
    display: inline-block;
    width: 26%;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    border-radius: 10px;
    font-weight: 900;
    cursor:pointer;
}

.preview-bg {
	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100vh;
  	background-color: rgba(0, 0, 0, 0.3);
  	z-index: -1;
  	opacity: 0;
}

.preview-container {
	position: relative;
  	width: 100%;
  	height: 100%;
}

.preview-content {
	position: absolute;
  	top: 40px;
  	left: 50%;
  	transform: translateX(-50%);
}

.preview-wrapper {
    position: relative;
    max-width: 90vw;
    max-height: 90vh;
    overflow: scroll;
}

.preview-show {
	z-index: 1000;
	opacity: 1;
}

.display-none {
    display: none;
}