@charset "UTF-8";
.postListContainer{
	width: 100%;
}
.post_ul_container{
	margin: 25px 0px;
}
.post_ul_container ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.post_ul_container li {
  margin: 0 100px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.selected_li{
	color:#E9B910;
	text-decoration: underline solid 10px;
}

#boardListContainer table,
#commentListcontainer table {
  width: 100%;
  border-collapse: collapse;
}
#boardListContainer th,
#commentListcontainer th{
	padding: 10px 0px;
	font-weight: bold;
  	font-size: 16px;
}
#boardListContainer tr,
#commentListcontainer tr{
	border-bottom: 1px solid #d9d9d9;
}

#boardListContainer td,
#commentListcontainer td{
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

.div_comment_td{
	display: flex;
	flex-direction: column;
    align-items: flex-start;
}
.comment_content{
	font-size: 14px;
}
.comment_date,
.comment_ref_title{
	font-size: 12px;
	color: #828282;
}

#post-btnContainer{
	display: flex;
	justify-content: flex-end;
}

#post-btnContainer button{
	width:70px;
	height: 30px;
	font-size: 15px;
	border: none;
	border-radius:5px;
	color: black;
	background-color: #d9d9d9;
	margin: 10px;
}
#post-btnContainer button:hover{
	color: white;
	background-color: #1c0808;
}

.page-bar {
  margin-top: 20px;
  text-align: center;
}