#likeheart>img{
	cursor:pointer;
}

div#maincontainer {
    display: flex;
}
#musical>div:first-child * {
	font-size: 100px;
}

#musical h2 {
	color: #1C0808;
	font-size: 40px;
	font-weight: bolder;
	margin-bottom: 20px;
	margin-top: 30px;
}

div.musical_content {
	width: 1137px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

div.musical_content>div {
	margin-left: 1.5%;
	margin-right: 1.5%;
	width:22%;
}

div.musical_content>div>h4 {
	font-size: 20px;
	font-weight: bolder;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 0px;
	height:67px;
}

#chioce_array a {
	font-size: 20px;
	margin-right: 5px;
	margin-left: 5px;
	text-decoration: none;
	color: black;
}

div.musical_content>div>h5 {
	color: #828282;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 18px;
}

div.musical_product>div {
	display: flex;
	margin-top: 10px;
	height: 20px;
}

div.musical_product>div p {
	font-size: 21px;
	margin-right: 15px;
	margin-left: 4px;
	margin-top: 0px;
}

div.musical_product>div img {
	display: block;
}

.musical_product {
	margin-bottom: 30px;
}

#musical {
	width: 1280px;
	height: 2500px;
	/* border: 1px solid red; */
}

#search {
	width: 300px;
	height: 25px;
	font-size: 15px;
	border: 0;
	border-radius: 35px;
	outline: none;
	padding-left: 10px;
	border: 1px solid black;
	display: flex;
	position: absolute;
}

#click {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	border: 0;
	position: relative;
	margin-left: 275px;
	cursor: pointer;
}

#event_search>div {
	display: flex;
}

#musical {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#choice {
	display: flex;
	justify-content: center;
	width: 45%;
	margin-top: 1.5%;
}

#choice [type="radio"] {
	vertical-align: middle;
	appearance: none;
	border: max(2px, 0.1em) solid gray;
	border-radius: 50%;
	width: 1.25rem;
	height: 1.25rem;
}

#choice [type="radio"]:checked {
	border: 0.35rem solid var(--sm-brown);
}

#choice>div {
	display: flex;
	width: 21%;
	align-items: center;
	justify-content: center;
}

#choice>div p {
	margin-right: 7%;
	font-size: 20px;
}

.like {
	display: flex;
}

.like p {
	margin: 0;
	display: flex;
	align-items: center;
}

#event_search {
	width: 400px;
	height: 40px;
	left: 50%;
	top: 170px;
}

/* input_search_text */
#input_search_text {
	box-sizing: border-box;
	flex: 1;
	height: 40px;
	background: #FFFFFF;
	border: 1px solid #1C0808;
	border-radius: 20px 0 0 20px;
	padding: 0 10px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	color: #828282;
	position: relative;
	z-index: -1;
}

/* search_button */
#search_button {
	width: 40px;
	height: 40px;
	background: #1C0808;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	margin-left: -20px;
}

.pageBar a {
	text-decoration: none;
	color: black;
}

#page {
	display: flex;
	justify-content: center;
	width: 100%;
}

.pageBar {
	display: flex;
	justify-content: space-evenly;
	width: 50%;
	align-items: center;
	margin-top: 5%;
	margin-bottom: 5%;
}

.pageBar>div {
	width: 20%;
	display: flex;
	justify-content: space-around;
	font-size: 20px;
}
.musical_product>img,.musical_product>h4{
	cursor: pointer;
}
