/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;900&display=swap');

/* var */
:root {
    --sm-brown: #1C0808;
    --sm-yellow: #E9B910;
    --gray-light: #D9D9D9;
    --gray: #A0A0A0;
    --gray-dark: #808080;
    --gray-darker: rgb(52, 52, 52);
    --green: #24c058;
}

/* white space */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

/* font smoothing */
h1, h2, h3, h4, h5, h6, p, span, a, i, button, input, input::placeholder, td, th {
    transform: rotate(0.04deg);
}

/* list style */
ul {
    list-style-type: none;
}

/* font weight */
.fw-light {
    font-weight: 300;
}

.fw-bold {
    font-weight: 900;
}

/* width */
.max1280px {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 3%;
}

.min1280px {
    min-width: 1280px;
}

/* button */
.btn-layout {
    border: none;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: 900;
    cursor:pointer;
}

.btn-brown {
    background-color: var(--sm-brown);
    border: 2px solid var(--sm-brown);
    color: white;
}

.btn-white {
    background-color: white;
    border: 2px solid var(--sm-brown);
    color: var(--sm-brown);
}

.btn-yellow {
    background-color: var(--sm-yellow);
    border: 2px solid var(--sm-yellow);
    color: var(--sm-brown);
}

/* icon */
.icon-container {
    display: inline-block;
    text-align: center;
}

.icon-container i {
    background-color: var(--sm-brown);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding-top: 23px;
    color: white;
}