@import url("../style_init.css");

.BookingDetailPlay_bigchart {
	margin: auto;
	width: 1100px;
	height: 1300px;
	border: 0.5px solid  #e9ecef;
	flex-direction: row;
}

/* 선 조절 */
.division-line {
	border-top: 0.5px solid gray;
	margin-left: 90px;
	width: 900px;
	margin: 0 auto;
}

#BookingDetailPlay_title {
	color: gray;
	font-size: 30px;
	font-weight: bold;
	margin-left: 100px;
	padding-top: 100px;
}

.play_title {
	font-size: 22px;
}

/* 구매상세내역서 */

/* 전체틀선 */
.bigchart {
	margin: auto;
	width: 900px;
	height: 500px;
	border: 0.5px solid  #e9ecef;;
	flex-direction: row;
	margin-top: 15px;
	margin-bottom: 5px;
}

.bigchart2 {
	margin: auto;
	width: 900px;
	height: 440px;
	border: 0.5px solid  #e9ecef;
	flex-direction: row;
	margin-top: 15px;
	margin-bottom: 5px;
}

.play_title {
	background-color: #e9ecef;
	margin-bottom: 5px;
	height: 50px;
}

#bookchart2 {
	flex-direction: row; /* 테이블 가로 정렬 */
	display: flex;
}

.ticketbook {
	margin-right: 60px;
}

/* 표1 디자인 */
.book_info {
	width: 600px;
	border-top: 1px solid #444444;
	border-collapse: collapse;
	margin: auto;
}

.book_info th {
	border-bottom: 1px solid  #e9ecef;;
	text-align: left;
	padding: 6px;
}

.book_info tr {
	border-bottom: 1px solid  #e9ecef;;
	text-align: left;
}

/* 중간 열 줄 */
.book_info td {
	border-left: 1px solid  #e9ecef;;
	Padding-left: 10px; /* 테이블 간격 */
}

/* 표2 디자인 */
.secondchart {
	width: 95%;
	border-collapse: collapse;
	margin: auto;
}

.secondchart th {
	background-color:  #e9ecef;;
}

.secondchart tr {
	text-align: center;
	padding: 6px;
}

.secondchart th {
	padding: 5px;
	text-align: center;
}

.bk_no {
	padding: 5px;
	border-bottom: 1px solid  #e9ecef;;
}

/* 표3 디자인 */
.pay_chart {
	width: 850px;
	border-top: 1px solid #444444;
	border-collapse: collapse;
	margin: auto;
}

.pay_chart th {
	background-color:  #e9ecef;;
	border-bottom: 1px solid  #e9ecef;;
	padding: 4px;
	text-align: center;
}

.pay_chart tr {
	border-bottom: 1px solid  #e9ecef;;
	text-align: left;
}


.pay_chart td {
	Padding-left: 15px;
}

/* 글씨 모음 */
.play_title {
	font-weight: bold;
	padding: 10px 0px 10px 10px;
}

.font-pay {
	margin-left: 26px;
	padding: 10px 0px 3px 0px;
}

.cancel-txt {
	margin-bottom: 30px;
}

.cancel-gd {
	padding: 10px 0px 3px 20px;
	font-weight: bold;
}

.cancel-date {
	font-weight: bold;
	padding: 10px 0px 3px 20px;
}

.cancel_box {
	padding: 10px 0px 3px 20px;
}

/* 취소하기 버튼 */
.re-btn {
	border: none;
	padding: 8px 45px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	background-color: var(--sm-brown);
	border: 2px solid var(--sm-brown);
	color: white;
	margin: 0 auto; /* 버튼 글씨정렬 후 버튼 일자 정렬 */
	display: flex;
	cursor:pointer;
}
/* 예매내역 버튼 */
.re-btn2 {
	border: none;
	padding: 8px 45px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	background-color: var(--sm-yellow);
	border: 2px solid var(--sm-yellow);
	color: var(--sm-brown);
	margin: 0 auto; /* 버튼 글씨정렬 후 버튼 일자 정렬 */
	display: flex;
	margin-bottom: 80px;
	margin-top: 30px;
	cursor:pointer;
}

/* 예매취소 아래 선 조절 */
.cancel-line {
	border-top: 0.2px solid gray;
	margin-left: 20px;
	width: 860px;
}

.cancel_box ul {
	list-style: none;
	padding-left: 0px;
}

.cancel_box li {
	line-height: 22px;
}